<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>简易计算器</title>
</head>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="input1">
            <select name="ops">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
            <input type="text" name="input2">
            <input type="submit" value="=">
        </form>
        <p>{{ res }}</p>
    </div>
</body>
</html>