<!DOCTYPE html>
<html lang="zh-cn">
<!--head-->
<head>
    <meta charset="UTF-8">
    <!--Markdown Editor-->
    <link rel="stylesheet" href="static/editor.md-master/css/editormd.css" />
    <!--Boostrap组件引入-->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Echarts-->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <title>Index</title>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0; border-radius: 0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-send"></span>  Navigator</a>
        </div>
        <div>
            <!--向左对齐-->
            <ul class="nav navbar-nav navbar-left">
                <!--普通选项卡-->
                <li class="active"><a href="index"><span class="glyphicon glyphicon-home"></span>  Index</a></li>
                <li><a href="articles"><span class="glyphicon glyphicon-book"></span>  Articles</a></li>
                <!--下拉式菜单-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-link"></span>
                        Database
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">文章数据库</a></li>
                        <li><a href="#">用户信息数据库</a></li>
                        <li class="divider"></li>
                        <li><a href="#">网页源码</a></li>
                        <li class="divider"></li>
                        <li><a href="admin">Django后台</a></li>
                    </ul>
                </li>
            </ul>
            <!--向右对齐-->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="navbar-text">{{ user.username }}，欢迎您！</li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">
                    <span class="glyphicon glyphicon-user"></span> Logout</a></li>
                {% else %}
                <li><a href="{% url 'users:register' %}?next={{ request.path }}">
                    <span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="{% url 'login' %}?next={{ request.path }}">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--轮播-->
<div id="myCarousel" class="carousel slide" style="margin-bottom: 50px;">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        {% for img in imgs %}
            {% if img == 1 %}
            <li data-target="#myCarousel" data-slide-to="{{ img|add:-1 }}" class="active"></li>
            {% else %}
            <li data-target="#myCarousel" data-slide-to="{{ img|add:-1 }}"></li>
            {% endif %}
        {% endfor %}
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        {% for img in imgs %}
            {% if img == 1 %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
                <img src="static/img/{{ img }}.png" alt="{{ img }}">
            </div>
        {% endfor %}
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!--引入-->
<div class="container">
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-1"></div>
    <!--left-->
    <div class="col-sm-8">
        <div class="row">
            <div class="jumbotron well">
                <h1>岳翔的网站</h1>
                <small>本行内容是在标签内</small><br>
                <strong>本行内容是在标签内</strong><br>
                <em>本行内容是在标签内，并呈现为斜体</em><br>
                <p class="text-left">向左对齐文本向左对齐文本向左对齐文本向左对齐文本向左对齐文本向左对齐文本</p>
                <p class="text-center">居中对齐文本</p>
                <p class="text-right">向右对齐文本</p>
                <p class="text-muted">本行内容是减弱的</p>
                <p class="text-primary">本行内容带有一个 primary class</p>
                <p class="text-success">本行内容带有一个 success class</p>
                <p class="text-info">本行内容带有一个 info class</p>
                <p class="text-warning">本行内容带有一个 warning class</p>
                <p class="text-danger">本行内容带有一个 danger class</p>
            </div>
        </div>
        <div class="row">
            <div class="jumbotron well">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="main" style="width: available; height:400px;"></div>
                <script type="text/javascript" src="static/js/plot1.js"></script>
            </div>
        </div>
        <!--循环渲染博文-->
        {% for article in articles %}
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="markdown-body editormd-html-preview">
                        {% autoescape off %}
                        {{ article.1 }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="clearfix visible-xs"></div>  <!--垂直排列-->
    <div class="col-sm-3">
        <div class="panel-group" id="accordion">
        {% for item in sider %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{ item.0 }}">
                            {{ item.1 }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ item.0 }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>
                            {% autoescape off %}
                            {{ item.2 }}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!--底部copyright-->
<footer class="footer">
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="text-center">Copyright © 2018 Blickwinkel All Rights Reserved.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</footer>
</body>
</html>